#cop {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 6%;
}
#copimg {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 6%;
}
#robber {
    position: relative;
    height: 100px;
    width: 100px;
    margin 6%;
}
#robberimg {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 6%;
}

body {
    background-image: URL("https://live.staticflickr.com/3241/2689916322_01a2e102a1_b.jpg");
}
